# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de configuración locales
.env

# IDEs / editores
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
*.log